<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>book_object</display-name>
  <welcome-file-list>
    <welcome-file>/web-page/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BookSeverlet</servlet-name>
    <servlet-class>cn.edu.svtcc.severlet.BookSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSeverlet</servlet-name>
    <url-pattern>/servlet/BookSeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomePageSeverlet</servlet-name>
    <servlet-class>cn.edu.svtcc.severlet.HomePageSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageSeverlet</servlet-name>
    <url-pattern>/servlet/HomePageSeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentSeverlet</servlet-name>
    <servlet-class>cn.edu.svtcc.severlet.PaymentSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentSeverlet</servlet-name>
    <url-pattern>/servlet/PaymentSeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shoppingSevelet</servlet-name>
    <servlet-class>cn.edu.svtcc.severlet.shoppingSevelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingSevelet</servlet-name>
    <url-pattern>/servlet/shoppingSevelet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>InitSeverlet</servlet-name>
    <servlet-class>cn.edu.svtcc.severlet.shoppingSevelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitSeverlet</servlet-name>
    <url-pattern>/servlet/InitSeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadSeverlet</servlet-name>
    <servlet-class>cn.edu.svtcc.severlet.UploadSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSeverlet</servlet-name>
    <url-pattern>/servlet/UploadSeverlet</url-pattern>
  </servlet-mapping>
</web-app>